.specials {
    padding: 2rem 5rem 0 5rem;
    animation-duration: 0.33s;
    animation-timing-function: ease-in-out;
    animation-name: slideDownFade;
  }
  .specials-topbar {
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .specials-topbar > h1 {
    font-size: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  
  .specials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
  }


  
.action-button {
    background-color: #f4ce14;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.2rem;
    font-family: "Karla";
    font-size: 2rem;
  }
  
.specials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
  }
  \  .specials-cards {
    display: none;
  }

  .specials-carousel {
    display: none;
  }
  .specials-carousel {
    margin: 0 2rem 0 2rem;
  }
  .testimonial-card > p {
    margin-top: -1rem;
    margin-bottom: 2.5rem;
  }

  @media screen and (max-width: 600px) {
    .hero-text > h1 {
      font-size: 2.2rem;
      margin-top: 0rem;
      margin-bottom: -2rem;
    }
  
    .hero-text > h2 {
      font-size: 1.8rem;
      margin-bottom: 2rem;
    }
  
    .confirmation-header {
      margin-top: 0rem;
    }
  
    .reserve-header-text {
      font-size: 15px;
    }
  
    .desktop {
      display: none;
    }
  
    .mobile {
      display: grid;
      grid-template: auto auto auto auto auto auto auto / auto;
      align-items: center;
      padding-left: 0;
    }
  
    .call-to-action {
      margin: 0;
      padding: 1.25rem 2rem 1.2rem 2rem;
    }
  
    .specials {
      padding: 0 2rem 0 2rem;
    }
  
    .testimonials {
      padding: 0 2rem 0 2rem;
    }
  
    .about-us {
      padding: 1rem 2rem 0 2rem;
      margin-top: 2rem;
      grid-gap: 1vw;
    }
  
    .double-image {
      max-height: 14rem;
      position: relative;
      top: 4rem;
      left: 2rem;
    }
  
    .double-image > img {
      width: 60%;
      height: 100%;
      object-fit: cover;
    }
  
    .about-1 {
      position: relative;
      top: 0;
      left: 0;
    }
  
    .about-2 {
      position: absolute;
      top: -3rem;
      left: 4.5rem;
    }
  
    footer > menu {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .contact {
      display: none;
    }
  
    .img-footer > img {
      margin-top: 0.5rem;
    }
  
    ul > * {
      font-size: 14px;
    }
  
    .burger {
      display: grid;
    }
  
    .burger > img {
      margin-top: 1.5rem;
      margin-left: 0.5rem;
    }
  
    .reserve-table {
      margin-top: 0rem;
    }
  
    .redirect-button {
      padding: 1vh 2rem 1vh 2rem;
      font-size: 14px;
    }
  }
  
  @keyframes slideDownFade {
    0% {
      transform: translateY(-15%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .carousel > .thumbs-wrapper {
    display: none;
  }
  .menu-card {
    background-color: #edefee;
    padding-bottom: 1rem;
  }
  
  .menu-card > img {
    height: 25vh;
    width: 100%;
    object-fit: cover;
  }
  .menu-card-content {
    margin: 0.5rem 2rem 1rem 2rem;
  }
  
  .menu-card-content > h1 {
    font-size: 2.2rem;
    margin: 0;
  }
  
  .menu-card-content > h3 {
    font-size: 1.8rem;
    margin: 0;
  }
  .special-button {
    background-color: #f4ce14;
    border-radius: 0.2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  
  .special-button:hover {
    background-color: #495e57;
    color: #eeeeee;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
    transition: 0.2s;
  }



 .top-specialist{ 
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-auto-rows:minmax(80px,auto);
    margin-top: 30px;
    /* column-gap: 2rem; */
    text-align: center;
    }

    .top-specialist button{
        background-color: goldenrod;
        height:30px ;
        width: 120px;
        border-radius: 8px;
        align-items: center;
    }
    .onlinebutton{
        margin-top: 36px;
        margin-left: -200px;}
    .headerspecialis{margin-left: 200px;}

    .row{
        display: grid;
        grid-template-columns: repeat(3,300px);
        /* grid-gap: 0px; */
        margin-left: 12rem;
        /* max-width: 700px; */
        /* column-gap: -21px; */
        
    }

    .column img {
        height: 180px; 
        /* margin-left: 200px;
          width: 200px;
         height: 300px; */
         /* width: auto; */
         max-width: 100%;
         object-fit:cover;
        }
       .column{ 
        height: 450px;
        margin-right: 0;
        margin-left: 20%;
        align-items: center;
        /* margin-left: 20px; */
         background-color: rgb(231, 240, 233);} 