.header{
    display: grid;
    grid-template-columns: repeat(7,auto);
    grid-auto-rows:minmax(80px,auto);
    list-style: none;
    column-gap:4rem;
    text-align: center;
    margin-left: 20%; 
    font-weight: bold;
    }



.header_column{

    padding: 5px;
}